/* 客製化 Swiper 導覽點點 */
.swiper-pagination {
  position: absolute;
  left: 0.75rem;
  bottom: 0.75rem;
  z-index: 10;
}

.swiper-pagination-bullet {
  background: white;
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  margin: 0 4px;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  background: #4a3830;
  width: 24px;
}
